.button-container {
  width: 100%;
}

.button {
  height: 40px;
  border: 1px solid #0077EF;
  border-radius: 8px;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #FFFFFF;
}